{{ define "content" }}

<style>
  .research-title {
    background: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 0.5rem; 
    width: 100%;
    border-bottom-left-radius: 12px;  
    border-bottom-right-radius: 12px;
    font-variant: small-caps; 
    font-size: 1rem; 
    z-index: 1;  
    transition: background 0.3s ease, transform 0.3s ease;
    display: block;           
    margin-top: auto;        
  }

  .research-title:hover {
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.03);
  }

</style>

<div style="max-width: 1200px; margin: 0 auto; padding: 2rem; width: 100%;">

  <h2 style="text-align: center; margin-bottom: 2rem;">{{ .Title }}</h2>

<div style="text-align: left; max-width: 1000px; margin: 0 auto;">
  {{ .Content }}
</div>
{{ end }}