.peft {
  background-color: #e3f2fd;
}

.enh {
  background-color: #e8f5e9;
}

.nuseg {
  background-color: #f3e5f5;
}

.dg {
  background-color: #a07eab;
}

.vlm {
  background-color: #d29da9;
}

.dl {
  background-color: rgb(140, 171, 175);
}

.cv {
  background-color: rgb(207, 175, 190);
}

.hcai {
  background-color: rgb(179, 149, 127);
}

.eth {
  background-color: rgb(232, 233, 188);
}

.symbo {
  background-color: rgb(97, 125, 108);
}

.adelp {
  background-color: rgb(174, 156, 189);
}

.krr {
  background-color: rgb(107, 198, 157);
}

.sa {
  background-color: rgb(133, 108, 141);
}